<?xml version="1.0"?>
<model>
  <name>{{ name }}</name>
  <version>1.0</version>
  <sdf version="{{ sdf_version }}">model.sdf</sdf>

  <author>
    <name>{{ author }}</name>
    <email>{{ email }}</email>
  </author>

  <description>
    Only compatible starting from gz-common5. {{ description }}
  </description>
</model>
